pi_node_red.json
[{"id":"5d9277d4.7adf58","type":"tab","label":"Light Swarm Control","disabled":true,"info":""},{"id":"771e9528.87c3bc","type":"udp in","z":"5d9277d4.7adf58","name":"ESP8266 Data In Port","iface":"","port":"2950","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":360,"wires":[["f486c33d.d07fa"]]},{"id":"c6b2592b.0e4fb8","type":"firebase modify","z":"5d9277d4.7adf58","name":"firebase dataset","firebaseconfig":"","childpath":"LightData","method":"push","value":"msg.payload","priority":"msg.priority","x":680,"y":300,"wires":[[]]},{"id":"413a769.b671588","type":"slack","z":"5d9277d4.7adf58","name":"k-light-swarm","channelURL":"https://hooks.slack.com/services/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","username":"Light Swarm Data","emojiIcon":"","channel":"","x":670,"y":420,"wires":[]},{"id":"fddb2132.4bef6","type":"comment","z":"5d9277d4.7adf58","name":"To send Pi IP to esps","info":"","x":120,"y":60,"wires":[]},{"id":"b34d856.50da678","type":"hostip","z":"5d9277d4.7adf58","name":"Host IP","x":260,"y":120,"wires":[["d347eccf.b32e3"]]},{"id":"c68f94ab.4d62f8","type":"debug","z":"5d9277d4.7adf58","name":"Host IP packet look","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":40,"wires":[]},{"id":"f9aa59e4.bf9088","type":"inject","z":"5d9277d4.7adf58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["b34d856.50da678"]]},{"id":"d347eccf.b32e3","type":"function","z":"5d9277d4.7adf58","name":"To send the IP address as packet","func":"var addr = msg.payload[0].address.split('.');\n\nvar packet = {\n    payload: ['0xF0','4','0xFF','6',addr[0],addr[1],addr[2],addr[3],'0x00','0x00','0x00','0x00','0x00','0x00'],\n    ip: addr[0]+'.'+addr[1]+'.'+addr[2]+'.255',\n    port:'2910'\n};\n\nreturn packet;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["c68f94ab.4d62f8","2dc78793.64c2d8"]]},{"id":"2dc78793.64c2d8","type":"udp out","z":"5d9277d4.7adf58","name":"PI address broadcast","addr":"","iface":"","port":"2910","ipv":"udp4","outport":"","base64":true,"multicast":"broad","x":660,"y":200,"wires":[]},{"id":"f486c33d.d07fa","type":"function","z":"5d9277d4.7adf58","name":"To fetch data from esp packet","func":"var buffer = msg.payload.split('|');\n\nvar packet={payload:''};\n\nvar obj = {\n  masterIP:'',\n  masterData:'',\n  slaveIP:'',\n  slaveData:''\n};\n\nfor(let i=0;i<buffer.length && buffer[i]!=='';i++){\n    var test = buffer[i].split(',');\n    \n    if(test[1]=='1'){\n        obj.masterIP = test[5];\n        obj.masterData = test[3];\n    }\n    else{\n        obj.slaveIP = test[5];\n        obj.slaveData = test[3];\n}\n\npacket.payload = obj;\n\n}\nreturn packet;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["c6b2592b.0e4fb8","8a001fb3.252ac","5082331f.feb65c"]]},{"id":"8a001fb3.252ac","type":"debug","z":"5d9277d4.7adf58","name":"Dataset look","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":360,"wires":[]},{"id":"77ed9b2c.862cc4","type":"comment","z":"5d9277d4.7adf58","name":"To receive data from PI","info":"","x":120,"y":300,"wires":[]},{"id":"5082331f.feb65c","type":"function","z":"5d9277d4.7adf58","name":"","func":"msg.payload =  JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["413a769.b671588"]]}]